.root {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 2;
  display: flex;
  justify-content: center;
}

.form {
  position: absolute;
  top: 12%;
  min-height: 700px;
  min-width: 1200px;
  z-index: 3;
  background: #d9d9d9;
  border-radius: 10px;
}

.imput {
  width: 40%;
  padding: 15px 10px;
  font-size: 24px;
  opacity: 0.6;
  transition: 0.4s;
  border-radius: 10px;
  border: 0;
  margin: 10px;
}

.imput:active {
  opacity: 1;
}
