.root {
	position: absolute;
	top: 110px;
	z-index: 3;
	display: flex;
	justify-content: center;
	transition: 1s;
}

input {
	border: none;
}

input:focus {
	border-width: 0;
	border-color: transparent;
	outline: none;
}

.form {
	border-radius: 8px;
	overflow: hidden;
	max-width: 600px;
	height: 50px;
	position: absolute;
	top: 26%;
	z-index: 2;

	display: flex;
	align-items: center;

	/* margin: 10px; */
	/* box-shadow: 0 0 10px rgb(255, 144, 249); */
}

.imput {
	width: 340px;
	height: 40px;
	padding: 5px 15px;
	font-size: 24px;
	opacity: 1;
	transition: 0.4s;
	/* margin: 10px; */
	/* border: 3px solid rgba(#e98074 0.979); */
	/* background: rgba(0, 0, 0, 0.322); */
	color: black;
}

.form__button {
	width: 30px;
	height: 25px;
	padding: 15px 5px;
	color: white;
	background-color: #2170746a;
	cursor: pointer;
}

.form__button:active {
	background-color: #217074;
}

input:focus + .form__button {
	background-color: #217074e8;
}

@media (max-width: 650px) {
	.imput {
		max-width: 240px;
		font-size: 16px;
	}
	.root {
		top: 80px;
	}
	.form {
		border-radius: 8px;
		height: 40px;
	}
}

@media (max-width: 480px) {
	.imput {
		max-width: 160px;
	}
}

.hidden {
	position: absolute;
	transition: 1s;
	display: none;
}

.button {
	color: rgb(255, 144, 249);
	background-color: rgba(240, 255, 255, 0);
	width: 50px;
	height: 50px;
	padding: 6px;
	margin-bottom: 4px;
	margin-right: 4px;
	transition: 0.4s;
}

.button:hover {
	transition: 0.4s;
	transform: scale(1.1);
}

.button__wrapper {
	border: 0;
	background-color: rgba(240, 255, 255, 0);
	width: 70px;
	height: 70px;
}
