.task {
  position: relative;
  width: 280px;
  height: 60px;
  background: #fff2ae;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 14px;
  z-index: 2;
}

.taskName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

  margin-left: 17px;
}

.misterySquare {
  width: 20px;
  height: 20px;
  color: rgba(55, 55, 83, 0.692);
  transition: 3s;
  margin-left: 14px;
  transform-origin: center center;
  transform-box: view-box;
  transition: transform 2s ease-in-out;
}

.done {
  width: 20px;
  height: 20px;
  color: green;
  transition: all 0.5s ease;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}

.misterySquare:hover {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}

.deleteElement {
  position: absolute;
  width: 18px;
  height: 18px;
  color: rgba(55, 55, 83, 0.692);
  right: 15px;
  transition: 0.5s;
}

.deleteElement:hover {
  width: 22px;
  height: 22px;
}
