.header {
  width: 100%;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
  transition: 1s;
}

h1 {
  font-family: "Archivo", sans-serif;
  color: #ffdfdb;
  font-size: 70px;
  font-weight: 100;
}
